<div class='row'>
  <div class="col-lg-3">
    <h3>About</h3>
    <p><strong>LUCK</strong> Management is a private company that primarily engages in management services with an investment division.</p>

    <p>The investment division considers equity and debt investments in New York City with a maximum deal size of $10 million.</p>

    <p>Talented people are the best value driver. We are always seeking passionate and capable people. Please <a href="mailto:info@luckmgmt.com">email us</a> if you are interested in working with us.</p>
  </div>

  <div class="col-lg-2">
    <div class='list-group'>
    </div>
  </div>
  <div class="col-lg-3">
    <h3>Contact</h3>
    <address>
      <strong>LUCK</strong> Management<br>
      34 Third Avenue, Suite 128<br>
      New York, NY 10003<br><br>
      <abbr title="Email">E:</abbr> <a href="mailto:info@luckmgmt.com">info@luckmgmt.com</a><br>
      <abbr title="Phone">P:</abbr> 1.866.69.<strong>LUCK</strong>M
    </address>
  </div>
</div>
